<h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>
  <input
    type="text"
    class="mb-2 border py-2 px-4 w-full"
    placeholder="Filter products..."
    [(ngModel)]="term"
  />

  <!-- <app-product [product]="products[0]"> </app-product>
  <app-product [product]="products[1]"> </app-product> -->

  <p *ngIf="loading" class="text-center text-lg">Loading...</p>

  <div *ngIf="productsServise.products">
    <app-product
      *ngFor="let product of productsServise.products | filterProducts : term; let i = index"
      [product]="product"
    ></app-product>
  </div>

  <app-modal *ngIf="modalService.isVisible$ | async" title="Create new Product">
    <app-create-product></app-create-product>
  </app-modal>

  <button
    class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4"
    (click)="modalService.open()"
  >+</button>
