<form [formGroup]="form" (ngSubmit)="submit()">
  <input
    type="text"
    class="border w-full py-2 px-4 mb-2"
    placeholder="Product name"
    formControlName="title"
    appFocus
  />

  <p
    class="text-red-600 font-medium mb-2"
    *ngIf="title.errors?.minlength && title.touched"
  >
    Please fill title field width min lenght. Now {{ title.value.length }}
  </p>

  <button type="submit" class="py-2 px-4 bg-blue-600 text-white">Create</button>
</form>
